# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.*
.venv/
venv/
env/
ENV/

# Packaging
build/
dist/
.eggs/
*.egg-info/
*.egg
wheels/

# Caches
.pytest_cache/
.mypy_cache/
.cache/

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml

# Editors/IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
